:root {
  --mouseX: 0;
  --mouseY: 0;
  --card-color: rgb(95, 95, 95);
  --dark-color: #1d1d1d;
  --offset: 100px;
}

html {
  scroll-behavior: smooth;
  width: 100vw !important;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0rem !important;
}

.bugModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color);
  width: 100%;
  margin: auto;
  padding: 2rem;
  border-radius: 5px;
  max-width: 350px;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bugModal p {
  margin-bottom: 0.2rem !important;
  margin-top: 0.5rem !important;
}

#root {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.flex-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bugTable {
  max-width: 1000px;
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: max-content;
}



.bugTable table {
  width: 33.3% !important;
  justify-content: center;
  align-items: flex-start;
}

.absReport {
  position: absolute;
  background-color: rgba(74, 74, 74, 0.411);
  opacity: 1;
  z-index: 100;
}

.fakeReport {
  color: transparent !important;
  background-color: transparent !important;
  height: 0;
  padding: 0 1rem 0 1rem !important;
  transition: all 1s ease;
}

.otherReport {
  color: transparent !important;
  background-color: transparent !important;
  height: 100px;
  padding: 1rem 1rem;
  transition: all 1s ease;
}

.far {
  padding: 0 !important;
  transition: all 1s ease;
}

.far td {
  padding: 0 !important;
  transition: all 1s ease;
}

.close {
  padding: 1rem !important;
  transition: all 1s ease;
}

.fakeClose {
  transition: all 1s ease;
  height: 100px;
}

.fakeFar {
  height: 0;
  transition: all 1s ease;
}

@keyframes shrink {
  from {
    height: 100px;
    padding: 1rem;
  }
  to {
    height: 0;
    padding: 0;
  }
}

.trueReport {
  padding: 1rem;
  border-radius: 5px;
  height: max-content;
  min-height: 100px;
  cursor: grab;
  transition: height 1s;
}

.report {
  padding: 1rem;
  background-color: rgba(74, 74, 74, 0.411);
  border-radius: 5px;
  cursor: grab;
  width: 100%;
}

td {
  border: 0 !important;
  padding: 0.5rem !important;
}

.report:active {
  cursor: grabbing;
  opacity: 1;
  z-index: 100;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}