:root {
  --mouseX: 0;
  --mouseY: 0;
  --card-color: rgb(95, 95, 95);
  --dark-color: #1d1d1d;
  --offset: 100px;
}

html {
  scroll-behavior: smooth;
  width: 100vw !important;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

p,
h5 {
  margin: 0rem !important;
}

.bugModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color);
  width: 100%;
  margin: auto;
  padding: 2rem;
  border-radius: 5px;
  max-width: 500px;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bugModal p {
  margin-bottom: 0.2rem !important;
  margin-top: 0.5rem !important;
}

#root {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.flex-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bugTable {
  max-width: 1000px;
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  min-height: 200px;
}

.bugTable table {
  width: 33.3% !important;
  max-width: 33.3% !important;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 200px;
  height: 100%;
}

tbody {
  min-height: 100px;
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex !important;
  gap: 0.5rem;
  padding: 0.5rem;
}

td {
  display: flex !important;
  border: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

tr {
  padding: 0 !important;
}

.fulltr {
  height: 100% !important;
}

.absReport {
  position: absolute;
  background-color: rgba(74, 74, 74, 0.411);
  opacity: 1;
  z-index: 100;
}

.fakeReport {
  color: transparent !important;
  background-color: transparent !important;
  height: 0;
  padding: 0 1rem 0 1rem !important;
  transition: height 1s ease, background-color 1s ease !important;
}

.otherReport {
  color: transparent !important;
  background-color: rgba(255, 255, 255, 0.072) !important;
  height: 100px;
  padding: 1rem 1rem;
  transition: height 1s ease, background-color 1s ease !important;
}

.far td {
  padding: 0 !important;
  transition: all 1s ease;
}

.fakeClose {
  transition: all 1s ease;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.072);
  border-radius: 5px;
  padding: 1rem 2rem;
}

.fakeFar {
  height: 0;
  transition: all 1s ease;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 0rem;
}

.fullClose {
  transition: all 1s ease;
  height: 100% !important;
  background-color: rgba(255, 255, 255, 0.072);
  border-radius: 5px;
  padding: 1rem 2rem !important;
}

.fullFar {
  height: 100% !important;
  transition: all 1s ease;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 0rem;
}

@keyframes shrink {
  from {
    height: 100px;
    padding: 1rem;
  }

  to {
    height: 0;
    padding: 0;
  }
}

.trueReport {
  padding: 1rem;
  border-radius: 5px;
  height: max-content;
  min-height: 100px;
  cursor: grab;
  transition: height 1s;
}

.report {
  padding: 1rem;
  background-color: rgba(74, 74, 74, 0.411);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease;
  gap: 0.2rem;
  overflow-wrap: break-word;
}

.report p {
  word-wrap: break-word;
  word-break: break-word;
}

.selectedReport {
  transition: background-color 0.5s ease;
  background-color: rgba(139, 139, 139, 0.411);
}

.absReport:active {
  cursor: grabbing;
  opacity: 1;
  z-index: 100;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.flex-bug-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0 0 0 0;
  width: 100%;
}

.edit {
  cursor: pointer;
  color: #ffffffbc;
  transition: all 0.5s ease;
  padding: 0.2rem;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit:hover {
  color: #fff;
  background-color: #ffffff11;
}

.deadline-tag {
  background-color: #ff3333;
  /* Red background */
  color: #fff;
  /* White text */
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 10px;
}

.create-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.login {
  display: flex;
  max-width: 100vw;
  padding: 1rem;
}

.high {
  color: #ff3333;
}

.med {
  color: #ff9f33;
}

.low {
  color: #33ff33;
}

@media only screen and (max-width: 600px) {
  .bugTable {
    flex-direction: column;
    width: 100% !important;
    max-width: 100% !important;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
  }

  .bugTable table {
    width: 100% !important;
    max-width: 100% !important;
    background-color: transparent !important;
  }

  th {
    transform: translateY(-5px);
  }

  tbody {
    transform: translateY(-5px);
    background-color: var(--dark-color) !important;
  }
}