:root {
  --mouseX: 0;
  --mouseY: 0;
  --card-color: rgb(95, 95, 95);
  --dark-color: #1d1d1d;
  --offset: 100px;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100vw !important;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
}

::-webkit-scrollbar {
  width: 0;
}